
.container {
    box-sizing: border-box;
    width: 814px;
    padding: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 100px auto;
    background: #B2B2B2;
    border-radius: 20px;
}

.inputForm,
.submitButton {
    background: #4D4D4D;
    border-radius: 10px;
    padding: 16px 100px;
    border-radius: 24px;
    font-size: 36px;
    text-align: left;
}

.containerLabel {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.submitButton {
    margin-top: 50px;
    margin-bottom: 20px;
}
.alreadyHaveAccount {
    margin-top: 50px;
}
.cancelButton a, .alreadyHaveAccount p {
    color: #FFFFFF;
}
.alreadyHaveAccount a{
    color: #b9580d;
}

.containerLabel {
    text-align: center;
    margin: 50px auto;
}

input {
    margin: 30px;
}
.passwordWrap{
    position:relative
}

.eyeVisible{
    position: absolute;
    top: 60px;
    right: 85px;
}
.eyeNotVisible{
    opacity: 0%;
    position: absolute;
    top: 60px;
    right: 85px;
}

@media (max-width: 376px) {
    .container {
        width: 375px;
        padding: 10px;
        border-radius: 0px;
    }

    .containerLabel {
        display: none;
    }

    .inputForm,
    .submitButton,
    .containerLabel {
        padding: 10px 5px;
        font-size: 16px;
        text-align: left;
        margin: 15px 0px;
        border-radius: 8px;
        width: 311px;
        border: 1px solid #FFEE32;
    }
    .submitButton {
        margin-top: 5px;
        margin-bottom: 20px;
        background-color:  #FFEE32;
        text-align: center;
    }
    .cancelButton {
       display: none;
    }
    .alreadyHaveAccount p {
        font-size: 14px;
        opacity: unset;
    }
    .alreadyHaveAccount a{
        font-size: 14px;
    }
    .eyeVisible{
        top: 30px;
        right: 35px;
        font-size: 25px !important;
    }
    .eyeNotVisible{
        top: 30px;
        right: 35px;
        font-size: 25px !important;
    }
}



.container {
    box-sizing: border-box;
    width: 814px;
    padding: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 100px auto;
    background: #B2B2B2;
    border-radius: 20px;
}

.inputForm,
.submitButton {
    background: #4D4D4D;
    border-radius: 10px;
    padding: 16px 100px;
    border-radius: 24px;
    font-size: 36px;
    text-align: left;
}

.containerLabel {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.submitButton {
    margin-top: 300px;
    margin-bottom: 20px;
    background: #FFD100;
    border-radius: 10px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.cancelButton a {
    color: #FFFFFF;
}

/* .containerLabel  span{
    font-size: 42px;
    font-style: italic;
    font-family: cursive;
    color:#b9580d;
} */
.passwordWrap {
    position: relative
}

.eyeVisible {
    position: absolute;
    top: 60px;
    right: 85px;
}

.eyeNotVisible {
    opacity: 0%;
    position: absolute;
    top: 60px;
    right: 85px;
}

.bottomText {
    padding: 16px 100px;
    border-radius: 24px;
    font-size: 36px;
    text-align: left;
}


@media (max-width: 376px) {
    .container {
        width: 375px;
        padding: 10px;
        border-radius: 0px;
    }

    .containerLabel {
        display: none;
    }

    .inputForm,
    .submitButton,
    .containerLabel {
        padding: 10px 5px;
        font-size: 16px;
        text-align: left;
        margin: 15px 0px;
        border-radius: 8px;
        width: 311px;
        border: 1px solid #FFEE32;
    }

    .submitButton {
        margin-top: 100px;
        margin-bottom: 20px;
        background-color: #FFEE32;
        text-align: center;
    }

    .cancelButton {
        display: none;
    }

    .eyeVisible {
        top: 30px;
        right: 35px;
        font-size: 25px !important;
    }

    .eyeNotVisible {
        top: 30px;
        right: 35px;
        font-size: 25px !important;
    }
}