.content-menu {
    width: 530px;
    text-align: center;
    display: block;
}

.content-item {
    margin-right: 35px;
    display: inline-block;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.tournament-text {
    margin-right: 35px;
    display: inline-block;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.content-menu .dot:nth-child(3) {
    display: inline-block;
    background: #E39ACD;
    border-radius: 50%;
    border: #E39ACD;
    margin-right: 31px;
    width: 20px;
    height: 20px;
}

.content-menu .dot:nth-child(7) {
    display: inline-block;
    border-radius: 50%;
    background: #E85D04;
    border: #E85D04;
    margin-right: 31px;
    width: 20px;
    height: 20px;
}

.content-item span {
    display: inline-block;
    width: 158px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
}

.header-content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tournament-img {
    width: 500px;
    height: 350px;
    display: block;
}

.tournament-img .tournament-text:hover{
    border: 10px solid black;
}

.content-img {
    width: 500px;
    height: 350px;
    transition: all 1000ms ease-in-out;
}

.gallery {
    background: url("../../shared/img/galery.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.tournament {
    background: url("../../shared/img/Tournament.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.lessons {
    background: url("../../shared/img/Lessons.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.cleaning {
    background: url("../../shared/img/Cleaning.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.sport {
    background: url("../../shared/img/sport.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.for-kids {
    background: url("../../shared/img/ForKids.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.excursion {
    background: url("../../shared/img/excurses.png") center center/cover no-repeat;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}