.toggle{
    border: 1px solid #000000;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    color: #000000;
}

.t-button{
    border-radius: 100%;
    background: #000000;
    position: absolute; 
    width: 22px;
    height: 22px;
}

.test {
    display: flex;
    align-items: center;
    padding: 4px;
}